.tableContainer {
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
}

.tableContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer thead {
  background-color: #2a3d94;
  color: white;
}

.tableContainer tbody {
  background-color: #f9f9f9;
}

.tableName {
  padding: 7px 5px;
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 7px;
  padding-left: 10px;
  border-bottom: 1px solid #cbcbcb;
  box-sizing: border-box;
}

.rowName {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 500;
}

.rowType {
  font-size: 13px;
  color: #969696;
  margin-left: 65px;
}
